
.*
!.gitignore


datasheet/
*-backups/
\#auto_saved_files\#
fp-info-cache
fp-lib-table

~*
_*
*_
*_.*
* *

*.bak
*.rpt
sym-lib-table

3dmodel/
gerber/
position/
order/
photo/
#production/

fabrication-toolkit-options.json


#*.pdf
*.zip
*.pptx

*.step
*.wrl
